
  <!-- Start of Fountain AI widget code -->
  <!-- <script type="text/javascript">
    window.fountainChatWidgetId="c04b8784-b9d0-418f-92ba-ef5925af6cef";
    window.fountainChatWidgetBaseUrl="https://widget.fountain.com";
    window.isAllBrandsSelected=false; -->
    <!-- if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      window.fountainAIWidgetOpen=true; } -->
    <!-- // window.funnelId=[]; // Enables the widget only for the funnelId's listed here
    // window.welcomeMessage=["Hi there 👋 \n\nI'm Fountain AI, your virtual hiring assistant. I'm here to support you throughout the application process."]; -->
    <!-- (function(){
      var js=document.createElement('script'); js.type="text/javascript"; js.async=true;
      js.src="https://widget.fountain.com/ChatWidgetShim.js";
      var before=document.getElementsByTagName('script')[0];
      before.parentNode.insertBefore(js, before); -->
    <!-- }()); -->
  <!-- </script> -->
<!-- End of Fountain AI widget code -->
