.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #38A3A5;
  border: 1px solid #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  text-align: center;
  justify-content: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.chat-menu-toggle .mobile-menu-toggle {
  .markdown-body #text {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
  }

  .chat-message--text .markdown-body hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
  }

  .chat-message--text .markdown-body abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  .chat-message--text .markdown-body h1,
  .chat-message--text .markdown-body h2,
  .chat-message--text .markdown-body h3,
  .chat-message--text .markdown-body h4,
  .chat-message--text .markdown-body h5,
  .chat-message--text .markdown-body h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  .chat-message--text .markdown-body a {
    color: inherit;
    text-decoration: inherit;
  }

  .chat-message--text .markdown-body b,
  .chat-message--text .markdown-body strong {
    font-weight: bolder;
  }

  .chat-message--text .markdown-body code,
  .chat-message--text .markdown-body kbd,
  .chat-message--text .markdown-body samp,
  .chat-message--text .markdown-body pre {
    font-family: var(--monospace);
    /* 1 */
    font-size: 1em;
    /* 2 */
  }

  .chat-message--text .markdown-body small {
    font-size: 80%;
  }

  .chat-message--text .markdown-body sub,
  .chat-message--text .markdown-body sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  .chat-message--text .markdown-body sub {
    bottom: -0.25em;
  }

  .chat-message--text .markdown-body sup {
    top: -0.5em;
  }

  .chat-message--text .markdown-body table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
    border-collapse: separate;
    /* 3 */
    border-spacing: 0;
  }

  .chat-message--text .markdown-body button,
  .chat-message--text .markdown-body input,
  .chat-message--text .markdown-body optgroup,
  .chat-message--text .markdown-body select,
  .chat-message--text .markdown-body textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 3 */
  }

  .chat-message--text .markdown-body blockquote,
  .chat-message--text .markdown-body dl,
  .chat-message--text .markdown-body dd,
  .chat-message--text .markdown-body h1,
  .chat-message--text .markdown-body h2,
  .chat-message--text .markdown-body h3,
  .chat-message--text .markdown-body h4,
  .chat-message--text .markdown-body h5,
  .chat-message--text .markdown-body h6,
  .chat-message--text .markdown-body hr,
  .chat-message--text .markdown-body figure,
  .chat-message--text .markdown-body p,
  .chat-message--text .markdown-body pre {
    margin: 0;
  }

  .chat-message--text .markdown-body fieldset {
    margin: 0;
    padding: 0;
  }

  .chat-message--text .markdown-body legend {
    padding: 0;
  }

  .chat-message--text .markdown-body ol,
  .chat-message--text .markdown-body ul,
  .chat-message--text .markdown-body menu {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: normal;
  }

  .chat-message--text .markdown-body textarea {
    resize: vertical;
  }

  .chat-message--text .markdown-body #write {
    font-size: 1.25rem
      /* 20px */
    ;
    line-height: 1.8;
  }

  .chat-message--text .markdown-body html,
  .chat-message--text .markdown-body body {
    font-family: 'Inter';
  }

  .chat-message--text .markdown-body content,
  .chat-message--text .markdown-body titlebar {
    background: var(--tw-prose-bg);
  }

  .chat-message--text .markdown-body #write {
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--tw-prose-body);
    max-width: 60ch;
  }

  .chat-message--text .markdown-body #write> :where(:first-child) {
    margin-top: 0;
  }

  .chat-message--text .markdown-body #write> :where(:last-child) {
    margin-bottom: 0;
  }

  .chat-message--text .markdown-body pre.md-meta-block {
    color: var(--tw-prose-meta);
    background-color: var(--tw-prose-meta-bg);
    font-weight: 400;
    font-size: var(--code-blocks-font-size);
    line-height: 1.7777778;
    border-radius: 0.5rem
      /* 8px */
    ;
    padding: 1.1111111em 1.3333333em;
    margin-bottom: 2.8em;
  }

  .chat-message--text .markdown-body h1 {
    color: var(--tw-prose-headings);
    font-size: 2.25em;
    font-weight: 800;
    line-height: 1.1111111;
    margin-bottom: 0.22em;
    margin-top: 0;
  }

  .chat-message--text .markdown-body h1 strong {
    font-weight: 900;
  }

  .chat-message--text .markdown-body h2 {
    color: var(--tw-prose-headings);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3333333;
    margin-bottom: 0.22em;
    margin-top: 2rem;
  }

  .chat-message--text .markdown-body h2 strong {
    font-weight: 800;
  }

  .chat-message--text .markdown-body h3 {
    color: var(--tw-prose-headings);
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 0.22em;
    margin-top: 1rem;
  }

  .chat-message--text .markdown-body h3 strong {
    font-weight: 700;
  }

  .chat-message--text .markdown-body h4 {
    color: var(--tw-prose-headings);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.22em;
    margin-top: 1rem;
  }

  .chat-message--text .markdown-body h4 strong {
    font-weight: 700;
  }

  .chat-message--text .markdown-body h2 code {
    font-size: 0.8611111em;
  }

  .chat-message--text .markdown-body h3 code {
    font-size: 0.9em;
  }

  .chat-message--text .markdown-body h5 {
    font-weight: 500;
  }

  .chat-message--text .markdown-body table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    line-height: 1.5555556;
  }

  .chat-message--text .markdown-body thead {
    border-bottom-width: 1px;
  }

  .chat-message--text .markdown-body thead th {
    border-color: var(--tw-prose-th-borders);
    color: var(--tw-prose-headings);
    background-color: rgba(236, 236, 241, 0.2);
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
  }

  .chat-message--text .markdown-body thead th:first-child {
    border-top-left-radius: 0.375rem;
  }

  .chat-message--text .markdown-body thead th:last-child {
    border-right-width: 1px;
    border-top-right-radius: 0.375rem;
  }

  .chat-message--text .markdown-body tbody tr {
    border-bottom-width: 1px;
  }

  .chat-message--text .markdown-body tbody tr:last-child {
    border-bottom-width: 0;
  }

  .chat-message--text .markdown-body tbody td {
    border-color: var(--tw-prose-td-borders);
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
  }

  .chat-message--text .markdown-body tbody td:last-child {
    border-right-width: 1px;
  }

  .chat-message--text .markdown-body tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.375rem;
  }

  .chat-message--text .markdown-body tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.375rem;
  }

  .chat-message--text .markdown-body .md-grid-board tr[row='1'] {
    background-color: var(--md-grid-header);
  }

  .chat-message--text .markdown-body .md-grid-board a:hover,
  .chat-message--text .markdown-body .md-grid-board a.md-active {
    background: var(--md-grid-active);
  }

  .chat-message--text .markdown-body .md-grid-board tr[row='1'] a:hover,
  .chat-message--text .markdown-body .md-grid-board tr[row='1'] a.md-active {
    background: var(--md-grid-header-active);
  }

  .chat-message--text .markdown-body .md-grid-board .md-grid-ext {
    background: var(--md-grid-ext);
  }

  .chat-message--text .markdown-body .md-grid-board tr[row='1'] .md-grid-ext {
    background: var(--md-grid-header-ext);
  }

  .chat-message--text .markdown-body .md-grid-board a {
    border-color: var(--md-grid-border-color) !important;
  }

  .chat-message--text .markdown-body ol {
    list-style-type: decimal;
    padding-left: 1.6em;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
  }

  .chat-message--text .markdown-body ul {
    list-style-type: disc;
    padding-left: 1.6em;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
  }

  .chat-message--text .markdown-body #write ul.task-list {
    padding-left: 0;
  }

  .chat-message--text .markdown-body #write li.task-list-item {
    padding-left: 0.4em;
  }

  .chat-message--text .markdown-body #write input[type='checkbox'] {
    margin-left: -1em;
  }

  .chat-message--text .markdown-body input[checked]~* {
    opacity: 0.7;
    text-decoration: line-through;
  }

  .chat-message--text .markdown-body ol>li::marker {
    font-weight: 400;
    color: var(--tw-prose-headings);
  }

  .chat-message--text .markdown-body ul>li::marker {
    color: var(--tw-prose-headings);
  }

  .chat-message--text .markdown-body ul>li,
  .chat-message--text .markdown-body ol>li {
    padding-left: 0.4em;
  }

  .chat-message--text .markdown-body ul>li p,
  .chat-message--text .markdown-body ol>li p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .chat-message--text .markdown-body #write>ul>li> :not(input):first-child,
  .chat-message--text .markdown-body #write>ol>li> :not(input):first-child,
  .chat-message--text .markdown-body #write>ul>li>input+*,
  .chat-message--text .markdown-body #write>ol>li>input+* {
    margin-top: 1.2em;
  }

  .chat-message--text .markdown-body #write>ul>li>*:last-child,
  .chat-message--text .markdown-body #write>ol>li>*:last-child {
    margin-bottom: 1.2em;
  }

  .chat-message--text .markdown-body #write ul>li>p:only-child,
  .chat-message--text .markdown-body #write ol>li>p:only-child,
  .chat-message--text .markdown-body #write ul>li>input+p:last-child,
  .chat-message--text .markdown-body #write ol>li>input+p:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  .chat-message--text .markdown-body ul ul,
  .chat-message--text .markdown-body ul ol,
  .chat-message--text .markdown-body ol ul,
  .chat-message--text .markdown-body ol ol {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .chat-message--text .markdown-body blockquote {
    font-weight: 500;
    font-style: italic;
    color: var(--tw-prose-quotes);
    border-left-width: 2px;
    border-left-color: #8e8ea0;
    quotes: '\201C' '\201D' '\2018' '\2019';
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1.0666667em;
  }

  .chat-message--text .markdown-body blockquote p:first-of-type::before {
    content: open-quote;
  }

  .chat-message--text .markdown-body blockquote p:last-of-type::after {
    content: close-quote;
  }

  .chat-message--text .markdown-body hr {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
  }

  .chat-message--text .markdown-body [mdtype='hr'] {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
  }

  .chat-message--text .markdown-body p {
    margin-top: 1em;
    margin-bottom: 0.22em;
  }

  .chat-message--text .markdown-body .md-diagram-panel {
    color: var(--tw-prose-body);
  }

  .chat-message--text .markdown-body .enable-diagrams .md-diagram .code-tooltip {
    bottom: -1.9em;
    right: 0;
  }

  .chat-message--text .markdown-body .md-fences-adv-panel {
    margin-top: 1.3em;
  }

  .chat-message--text .markdown-body sup.md-footnote {
    color: var(--footnote);
    background-color: var(--footnote-bg);
  }

  .chat-message--text .markdown-body .footnotes {
    font-size: 0.85em;
  }

  .chat-message--text .markdown-body .md-reverse-footnote-area a {
    font-family: 'Inter';
    text-decoration: none;
    color: var(--tw-primary);
    border-radius: 3px;
  }

  .chat-message--text .markdown-body .md-hover-tip .code-tooltip-content {
    font-size: 1.05rem;
    line-height: 1.6;
    padding: 0.8em 1.2em;
  }

  .chat-message--text .markdown-body .md-reverse-footnote-area a:hover {
    background-color: var(--item-hover-bg-color);
  }

  .chat-message--text .markdown-body .md-def-name:before {
    color: var(--md-char-color);
  }

  .chat-message--text .markdown-body .md-rawblock.md-rawblock-on-edit,
  .chat-message--text .markdown-body .md-rawblock:hover {
    color: var(--tw-prose-pre-code);
  }

  .chat-message--text .markdown-body .md-inline-math script {
    color: var(--tw-prose-code);
  }

  .chat-message--text .markdown-body g[data-mml-node='merror']>rect[data-background] {
    fill: var(--tw-highlight-color) !important;
  }

  .chat-message--text .markdown-body g[data-mml-node='merror']>g {
    fill: #000 !important;
    stroke: #000 !important;
  }

  .chat-message--text .markdown-body .code-tooltip {
    color: var(--tw-prose-pre-code);
  }

  .chat-message--text .markdown-body .code-tooltip .md-mathjax-preview {
    color: var(--tw-prose-body);
  }

  .chat-message--text .markdown-body .md-htmlblock-container,
  .chat-message--text .markdown-body .md-rawblock-input.md-rawblock-control,
  .chat-message--text .markdown-body .md-htmlblock-panel.md-rawblock-control,
  .chat-message--text .markdown-body .md-math-container {
    border-radius: 0.5rem 0 0.5rem 0.5rem;
  }

  .chat-message--text .markdown-body .md-rawblock-input {
    font-size: var(--code-blocks-font-size);
    padding: 0 1.3333333em;
  }

  .chat-message--text .markdown-body .md-mathblock-panel .md-rawblock-input.md-rawblock-control {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0;
  }

  .chat-message--text .markdown-body .md-mathblock-panel .md-rawblock-before {
    padding-top: 1.1em;
    border-top-left-radius: 0.5rem;
  }

  .chat-message--text .markdown-body .md-mathblock-panel .md-rawblock-after {
    padding-bottom: 1.1em;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .chat-message--text .markdown-body .md-htmlblock-panel .md-rawblock-input {
    padding-top: 1.1111111em;
    padding-bottom: 1.1111111em;
  }

  .chat-message--text .markdown-body .md-mathblock-panel .md-rawblock-before,
  .chat-message--text .markdown-body .md-mathblock-panel .md-rawblock-after {
    font-size: var(--code-blocks-font-size);
    padding-left: calc(4px + 1.3333333em);
    color: var(--code-bracket);
  }

  .chat-message--text .markdown-body .md-rawblock-tooltip {
    color: var(--tw-prose-pre-code);
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .chat-message--text .markdown-body .md-rawblock-tooltip-name {
    opacity: 1;
  }

  .chat-message--text .markdown-body .md-comment {
    font-size: var(--inline-code-font-size);
    color: var(--code-comment);
  }

  .chat-message--text .markdown-body .md-raw-inline,
  .chat-message--text .markdown-body .md-tag,
  .chat-message--text .markdown-body [md-inline='linebreak'],
  .chat-message--text .markdown-body .md-image>.md-meta,
  .chat-message--text .markdown-body .md-inline-math.md-expand>.md-inline-math-container {
    font-size: var(--code-blocks-font-size);
  }

  .chat-message--text .markdown-body .md-fences {
    color: var(--tw-prose-pre-code);
    background-color: var(--tw-prose-pre-bg);
    font-weight: 400;
    font-size: var(--code-blocks-font-size);
    line-height: 1.7777778;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem
      /* 8px */
    ;
    padding: 1.1111111em 1.3333333em;
  }

  .chat-message--text .markdown-body .md-fences.md-focus {
    border-bottom-right-radius: 0;
  }

  .chat-message--text .markdown-body .md-fences>.code-tooltip {
    height: 1.8rem;
    bottom: -1.8rem;
    font-size: 0.9rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .chat-message--text .markdown-body .code-tooltip .ty-input {
    min-width: 10rem;
  }

  .chat-message--text .markdown-body pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  .chat-message--text .markdown-body pre code::before {
    content: none;
  }

  .chat-message--text .markdown-body pre code::after {
    content: none;
  }

  .chat-message--text .markdown-body :root {
    --code-neutral: var(--theme-800);
    --code-cursor: var(--theme-900);
    --code-string: #0ea5e9;
    /* sky-500 */
    --code-number: #f59e0b;
    /* amber-500 */
    --code-tag: #ec4899;
    /* pink-500 */
    --code-variable: var(--theme-700);
    --code-operator: var(--theme-600);
    --code-comment: var(--theme-500);
    --code-bracket: var(--theme-500);
    --code-citation: var(--theme-500);
    --code-neutral-inverted: var(--theme-100);
    --code-cursor-inverted: var(--theme-50);
    --code-string-inverted: #7dd4fc;
    /* sky-300 */
    --code-number-inverted: #fde68a;
    /* amber-100 */
    --code-tag-inverted: #f472b5;
    /* pink-400 */
    --code-variable-inverted: var(--theme-200);
    --code-operator-inverted: var(--theme-400);
    --code-comment-inverted: var(--theme-400);
    --code-bracket-inverted: var(--theme-500);
    --code-citation-inverted: var(--theme-400);
  }

  .chat-message--text .markdown-body #write .cm-s-inner {
    --code-neutral: var(--code-neutral-inverted);
    --code-cursor: var(--code-cursor-inverted);
    --code-string: var(--code-string-inverted);
    --code-number: var(--code-number-inverted);
    --code-tag: var(--code-tag-inverted);
    --code-variable: var(--code-variable-inverted);
    --code-operator: var(--code-operator-inverted);
    --code-comment: var(--code-comment-inverted);
    --code-bracket: var(--code-bracket-inverted);
    --code-citation: var(--code-citation-inverted);
  }

  .chat-message--text .markdown-body .CodeMirror-selectedtext {
    background-color: transparent;
  }

  .chat-message--text .markdown-body .CodeMirror-cursor {
    border-left: 1px solid var(--code-cursor) !important;
  }

  .chat-message--text .markdown-body .CodeMirror-gutters {
    border-color: var(--code-comment);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-string {
    color: var(--code-string);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-number {
    color: var(--code-number);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-tag,
  .chat-message--text .markdown-body .cm-s-inner span.cm-keyword,
  .chat-message--text .markdown-body .cm-s-inner span.cm-qualifier {
    color: var(--code-tag);
  }

  .chat-message--text .markdown-body .cm-s-inner .CodeMirror-guttermarker,
  .chat-message--text .markdown-body .cm-s-inner .CodeMirror-guttermarker-subtle,
  .chat-message--text .markdown-body .cm-s-inner span.cm-comment.cm-def,
  .chat-message--text .markdown-body .cm-s-inner span.cm-comment.cm-type,
  .chat-message--text .markdown-body .cm-s-inner span.cm-builtin,
  .chat-message--text .markdown-body .cm-s-inner span.cm-type,
  .chat-message--text .markdown-body .cm-s-inner span.cm-header,
  .chat-message--text .markdown-body .cm-s-inner span.cm-link,
  .chat-message--text .markdown-body .cm-s-inner span.cm-error {
    background: transparent;
    color: var(--code-neutral);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-attribute,
  .chat-message--text .markdown-body .cm-s-inner span.cm-property,
  .chat-message--text .markdown-body .cm-s-inner span.cm-variable,
  .chat-message--text .markdown-body .cm-s-inner span.cm-variable-2,
  .chat-message--text .markdown-body .cm-s-inner span.cm-variable-3,
  .chat-message--text .markdown-body .cm-s-inner span.cm-type,
  .chat-message--text .markdown-body .cm-s-inner span.cm-atom,
  .chat-message--text .markdown-body .cm-s-inner span.cm-def {
    color: var(--code-variable);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-comment,
  .chat-message--text .markdown-body .cm-s-inner .CodeMirror-linenumber {
    color: var(--code-comment);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-operator {
    color: var(--code-operator);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-bracket,
  .chat-message--text .markdown-body .cm-s-inner span.cm-tag.cm-bracket,
  .chat-message--text .markdown-body .cm-s-inner span.cm-meta {
    color: var(--code-bracket);
  }

  .chat-message--text .markdown-body .cm-s-inner span.cm-link {
    text-decoration: underline;
  }

  .chat-message--text .markdown-body code {
    color: var(--tw-prose-code);
    font-weight: 600;
    font-size: var(--inline-code-font-size);
  }

  .chat-message--text .markdown-body code::before {
    content: '`';
  }

  .chat-message--text .markdown-body code::after {
    content: '`';
  }

  .chat-message--text .markdown-body [md-inline='code'].md-expand>code::before,
  .chat-message--text .markdown-body [md-inline='code'].md-expand>code::after {
    content: '';
  }

  .chat-message--text .markdown-body a code {
    color: var(--tw-prose-links);
  }

  .chat-message--text .markdown-body strong {
    color: var(--tw-prose-bold);
    font-weight: 600;
  }

  .chat-message--text .markdown-body a {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500;
  }

  .chat-message--text .markdown-body p>.md-image:only-child {
    margin-top: 0.8em !important;
    margin-bottom: 0.8em !important;
  }

  .chat-message--text .markdown-body .md-image>.md-meta {
    color: var(--tw-prose-code);
  }

  .chat-message--text .markdown-body mark {
    border-radius: 3px;
    padding: 0 2px;
    background-color: var(--tw-highlight-color);
  }

  .chat-message--text .markdown-body .cm-s-typora-default .CodeMirror-activeline-background {
    background-color: var(--item-hover-bg-color);
  }

  .chat-message--text .markdown-body #typora-source {
    font-family: var(--monospace);
    color: var(--typora-source-body);
  }

  .chat-message--text .markdown-body #typora-source .cm-header {
    color: var(--code-tag);
  }

  .chat-message--text .markdown-body #typora-source .cm-link {
    color: var(--code-string);
  }

  .chat-message--text .markdown-body #typora-source .cm-string {
    color: var(--code-string);
  }

  .chat-message--text .markdown-body #typora-source .cm-comment {
    color: var(--code-comment);
  }

  .chat-message--text .markdown-body #typora-source .cm-atom {
    color: var(--code-citation);
  }

  .chat-message--text .markdown-body #typora-source .cm-tag {
    color: var(--code-tag);
  }

  .chat-message--text .markdown-body #typora-source .cm-attribute {
    color: var(--code-variable);
  }

  .chat-message--text .markdown-body #typora-source .cm-bracket {
    color: var(--code-bracket);
  }

  .chat-message--text .markdown-body .file-list-item-file-ext-part {
    opacity: 0.5;
  }

  .chat-message--text .markdown-body #write div.md-toc-tooltip {
    background-color: var(--tw-prose-bg);
  }

  .chat-message--text .markdown-body .md-toc {
    font-size: 0.8em;
  }

  .chat-message--text .markdown-body .md-toc-h1 .md-toc-inner {
    margin-left: 0;
  }

  .chat-message--text .markdown-body .md-toc-h2 .md-toc-inner {
    margin-left: 1em;
  }

  .chat-message--text .markdown-body .md-toc-h3 .md-toc-inner {
    margin-left: 2em;
  }

  .chat-message--text .markdown-body .md-toc-h4 .md-toc-inner {
    margin-left: 3em;
  }

  .chat-message--text .markdown-body .md-toc-h5 .md-toc-inner {
    margin-left: 4em;
  }

  .chat-message--text .markdown-body .md-toc-h6 .md-toc-inner {
    margin-left: 5em;
  }

  .chat-message--text .markdown-body #typora-sidebar {
    border-right: var(--window-border);
  }

  .chat-message--text .markdown-body .sidebar-tab {
    text-transform: none;
    font-weight: 700;
    font-size: 1.1em;
  }

  .chat-message--text .markdown-body .md-search-hit {
    color: var(--search-hit-text-font-color);
    background-color: var(--search-hit-text-bg-color);
  }

  .chat-message--text .markdown-body #md-searchpanel {
    box-shadow: none;
    filter: var(--tw-drop-shadow-md);
  }

  .chat-message--text .markdown-body #md-searchpanel .btn:not(.close-btn):hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: var(--tw-button-hover-bg);
  }

  .chat-message--text .markdown-body #md-searchpanel input,
  .chat-message--text .markdown-body #md-searchpanel .btn,
  .chat-message--text .markdown-body #searchpanel-msg {
    border-radius: 5px;
  }

  .chat-message--text .markdown-body #searchpanel-msg {
    color: var(--theme-500);
    border-color: var(--theme-300);
    background: var(--theme-100);
  }

  .chat-message--text .markdown-body .form-control {
    border-color: var(--panel-border-color);
  }

  .chat-message--text .markdown-body .btn-default {
    background-color: var(--button-bg);
  }

  .chat-message--text .markdown-body h1+*,
  .chat-message--text .markdown-body h2+*,
  .chat-message--text .markdown-body h3+*,
  .chat-message--text .markdown-body h4+*,
  .chat-message--text .markdown-body ol+*,
  .chat-message--text .markdown-body ul+*,
  .chat-message--text .markdown-body pre+*,
  .chat-message--text .markdown-body p+* {
    margin-top: 0;
  }
}

/* Media Queries for Responsive Layout */
@media screen and (max-width: 768px) {

  /* Adjust the styling for smaller screens */
  .App-header {
    font-size: calc(10px + 1vmin);
    display: flex;
    width: 1728px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 480px) {

  /* Further adjustments for even smaller screens */
  .App-header {
    font-size: calc(10px + 0.5vmin);
  }
}

/* Custom CSS for mobile menu toggle */
.mobile-menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5vmin;
}

.mobile-menu-toggle>span {
  margin: 1.5vmin;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #38A3A5;
  border: 1px solid #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  text-align: center;
  justify-content: flex-end;
  background-color: #38A3A5
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mobile-menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5vmin;
}

.mobile-menu-toggle>span {
  margin: 2.5vmin;
}


/* Media Queries for Responsive Layout */
@media screen and (max-width: 768px) {

  /* Adjust the styling for smaller screens */
  .App-header {
    font-size: calc(10px + 1vmin);
    display: flex;
    width: 1728px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 480px) {

  /* Further adjustments for even smaller screens */
  .App-header {
    font-size: calc(10px + 0.5vmin);
  }
}

.magic-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.magic-button {
  margin: 0 8px;
}


/* Custom CSS for mobile menu toggle */
.mobile-menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5vmin;
}

.mobile-menu-toggle>span {
  margin: 2.5vmin;
}